PORT=4000
TZ=Europe/London

LOG=true

JWT_SECRET=bPEHaBRhLSDiuqNhotFCqfmuLsdyfRdxYWGyaTDQCqtVQ


MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=info@example.com
MAIL_FROM_NAME=pureelementapi

APP_ENV=local


# DEV Database configuration

DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=pure_element_db
DB_HOST=127.0.0.1
DB_DIALECT=mysql
